@using Microsoft.AspNet.Identity
<!DOCTYPE HTML>
<!--
    Transitive by TEMPLATED

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html>
<head>
    <title>MIA Immigration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   @* <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        @*<div class="logo"><a href="Home"><img src="~/images/img/logo.png" /></a> </div>*@

        <div class="logo">
            <a href='@Url.Action("Index", "Home")'><img src='@Url.Content("~/images/img/logo.png")' /> </a>
        </div>

            @Html.ActionLink("En", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
            @Html.ActionLink("Fr", "Change", "Language", new { LanguageAbbrevation = "fr" }, null)
            @if (User.IsInRole("Admin"))
            {
                <a href="#menu" class="toggle"><span>Menu</span></a>
            }

</header>

    <nav id="menu">

        <style>
            .tolist {
                text-decoration: solid;
            }
        </style>

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", }))
            {
                @Html.AntiForgeryToken()

                <ul class="links">
                    <li>
                        <p style="color: #F2F2F2;">    @User.Identity.GetUserName()</p>
                        <hr style="margin-top: -10%;" />
                    </li>

                    <li>
                        <p> @Html.ActionLink("Requests list", "Index", "Requests", null, new { @class = "" })</p>

                    </li>
                </ul>

                <a href="javascript:document.getElementById('logoutForm').submit()" class="button alt small icon fa fa-sign-out" style="float: right;">Log off</a>
                @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "button alt small icon fa fa-user-plus" })*@

            }
        }
    </nav>


  


    @RenderBody()



    <!-- Footer -->
    <footer id="footer" class="wrapper">
        <div class="inner">

            <div class="copyright">
                &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>