@model MIA_Immigration.Models.Request

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Countries.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Countries.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryResidence.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryResidence.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children_and_Ages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Children_and_Ages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Educations.EducationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Educations.EducationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provinces.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provinces.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneys.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneys.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDo7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDo7)
        </dd>

        <dd>
            @Html.ActionLink("Click here to download", "DownloadFile", new { })

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Print Details View To PDF", "PrintPartialViewToPdf", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
