@model IEnumerable<MIA_Immigration.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRequest.cshtml";
}

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box table-wrapper">
            
                <table class="alt">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Full_Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>



                        <th>
                            Location
                        </th>

                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Full_Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Countries.Name)
                    </td>

                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("View To PDF", "PrintPartialViewToPdf", new { id = item.ID })

                    </td>
                </tr>
                    }

                </table>

            </div>
    </div>

</section>