@model MIA_Immigration.Models.Request

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRequest.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Exemplo1",
        Value = "Exemplo1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Exemplo2",
        Value = "Exemplo2",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Exemplo3",
        Value = "Exemplo3"
    });
}

<style>
    .dateclass {
        width: -moz-available;
        background: rgba(0, 0, 0, 0.075;
    }
</style>


@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">

                <div class="content">
                    <header class="align-center">
                        <h2>Lorem ipsum dolor</h2>
                        <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                    </header>
                    <hr />

                    <form method="post" action="#">
                        <div class="row uniform">
                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Full_Name, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Full_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Full_Name, "", new { @class = "text-danger" })

                            </div>

                            <!-- Drop Down -->
                            <div class="6u 12u$(xsmall">
                                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "dateclass", id = "datepicker" } })
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })



                            </div>


                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.Citizenship, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.Citizenship, "", new { @class = "text-danger" })

                                </div>

                            </div>


                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Country_of_Residence, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.Country_of_Residence, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.Country_of_Residence, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })


                            </div>


                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Marital_Status, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.Marital_Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger" })


                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Children_and_Ages, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.Children_and_Ages, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Children_and_Ages, "", new { @class = "text-danger" })


                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional1, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.Profesional1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Profesional1, "", new { @class = "text-danger" })


                            </div>


                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.Profesional2, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.Profesional2, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional3, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.Profesional3, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.Profesional3, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional4, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.Profesional4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Profesional4, "", new { @class = "text-danger" })


                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional5, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.Profesional5, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.Profesional5, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.Profesional6, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.Profesional6, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Profesional6, "", new { @class = "text-danger" })


                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.ToDo1, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.ToDo1, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo2, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.ToDo2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ToDo2, "", new { @class = "text-danger" })

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo3, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.TextAreaFor(model => model.ToDo3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ToDo3, "", new { @class = "text-danger" })

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo4, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.EditorFor(model => model.ToDo4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ToDo4, "", new { @class = "text-danger" })

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo5, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.ToDo5, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.ToDo5, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo6, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="select-wrapper">

                                    @Html.DropDownListFor(model => model.ToDo6, listItems, "-- Select Status --")
                                    @Html.ValidationMessageFor(model => model.ToDo6, "", new { @class = "text-danger" })

                                </div>

                            </div>

                            <div class="6u 12u$(xsmall)">
                                @Html.LabelFor(model => model.ToDo7, htmlAttributes: new { @class = "control-label col-md-2" })


                                @Html.TextAreaFor(model => model.ToDo7, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ToDo7, "", new { @class = "text-danger" })

                            </div>



                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.TextBoxFor(model => model.File, new { @type = "file" })
                               @* @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </section>


}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{

 
 
 <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

  <script type="text/javascript">
            $(function () {
                $("#datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1930:2020"
                });
            });
        </script>

 





}







<div>
    @Html.ActionLink("Back to List", "Index")
</div>


